# Initial Workbook

## Libary Imports

In [ ]:
import numpy as np
import pandas as pd

## Exploratory Data Analysis (EDA)

In [7]:
data = pd.read_csv("~/code/marzecovaa/spark/raw_data/preprocessed/file_list.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 15 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   resource_type                      469 non-null    object
 1   id                                 469 non-null    int64
 2   study_id                           469 non-null    object
 3   condition                          469 non-null    object
 4   disease_comment                    469 non-null    object
 5   age_at_diagnosis                   469 non-null    int64
 6   age                                469 non-null    int64
 7   height                             469 non-null    int64
 8   weight                             469 non-null    int64
 9   gender                             469 non-null    object
 10  handedness                         469 non-null    object
 11  appearance_in_kinship              469 non-null    bool
 12  appearance_in_first_grade_kinship  181 non-null    object
 13  effect_of_alcohol_on_tremor        469 non-null    object
 14  label                              469 non-null    int64
dtypes: bool(1), int64(6), object(8)
memory usage: 51.9+ KB

,id,age_at_diagnosis,age,height,weight,label
count,469.000000,469.000000,469.000000,469.000000,469.000000,469.000000
mean,235.000000,55.275053,64.240938,174.181237,81.899787,1.074627
std,135.532899,17.105225,10.698847,10.921397,17.916252,0.637818
min,1.000000,0.000000,40.000000,55.000000,45.000000,0.000000
25%,118.000000,48.000000,56.000000,168.000000,69.000000,1.000000
50%,235.000000,58.000000,65.000000,175.000000,81.000000,1.000000
75%,352.000000,67.000000,72.000000,181.000000,92.000000,1.000000
max,469.000000,90.000000,90.000000,203.000000,181.000000,2.000000

In [25]:
data.head()

,resource_type,id,study_id,condition,disease_comment,age_at_diagnosis,age,height,weight,gender,handedness,appearance_in_kinship,appearance_in_first_grade_kinship,effect_of_alcohol_on_tremor,label
0,patient,1,PADS,Healthy,-,56,56,173,78,male,right,True,True,Unknown,0
1,patient,2,PADS,Other Movement Disorders,Left-Sided resting tremor and hypokinesia with...,69,81,193,104,male,right,False,NaN,No effect,2
2,patient,3,PADS,Healthy,-,45,45,170,78,female,right,False,NaN,Unknown,0
3,patient,4,PADS,Parkinson's,IPS akinetic-rigid type,63,67,161,90,female,right,False,NaN,No effect,1
4,patient,5,PADS,Parkinson's,IPS tremordominant type,65,75,172,86,male,left,False,NaN,Unknown,1

In [19]:
data.describe()

,id,age_at_diagnosis,age,height,weight,label
count,469.000000,469.000000,469.000000,469.000000,469.000000,469.000000
mean,235.000000,55.275053,64.240938,174.181237,81.899787,1.074627
std,135.532899,17.105225,10.698847,10.921397,17.916252,0.637818
min,1.000000,0.000000,40.000000,55.000000,45.000000,0.000000
25%,118.000000,48.000000,56.000000,168.000000,69.000000,1.000000
50%,235.000000,58.000000,65.000000,175.000000,81.000000,1.000000
75%,352.000000,67.000000,72.000000,181.000000,92.000000,1.000000
max,469.000000,90.000000,90.000000,203.000000,181.000000,2.000000